<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../index.css"> -->
    <title>Ingresos</title>
</head>
<body>
    <div class="main_form">
        <form action="http://localhost:3000/hotels" method="post" id="ingresos">
            <div class="check">
                <input type="radio" name="check" id="check_in" value="check_in">
                <label for="check_in">Entrada</label>
                <input type="radio" name="check" id="check_out" value="check_out">
                <label for="check_out">Salida</label>
            </div>
            <div class="hora">
                <label for="hora">Hora: </label>
                <input type="text" name="hora">
            </div>
            <div class="fecha">
                <label for="fecha">Fecha: </label>
                <input type="text" name="fecha">
            </div>
            <div class="nro_habitacion">
                <label for="nro_habitacion">N° habitación: </label>
                <input type="text" name="nro_habitacion">
            </div>
            <div class="nro_personas">
                <label for="nro_personas">Cantidad de personas: </label>
                <input type="text" name="nro_personas">
            </div>
            <div class="desde">
                <h3>Desde:</h3>
                <input type="radio" id="carrasco" name="desde" value="aero_carrasco">
                <label for="carrasco">Aeropuerto de Carrasco</label>
                <br>
                <input type="radio" id="puerto" name="desde" value="puerto_mvd">
                <label for="puerto">Puerto de Montevideo</label>
                <br>
                <input type="radio" id="no_sabe" name="desde" value="sin_respuesta">
                <label for="no_sabe">N/S</label>
                <br>
                <button id="enviar">Enviar</button>
            </div>
        </form>
    </div>
    <!-- <script src="./public/js/hotel.js"></script> -->
</body>
</html>