body {
    background-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* FOR FORM */
fieldset {
    padding: 1em 2em;
    border: solid 1px #ccc;
    border-radius: 6px;
    min-width: 200px;
}

label {
    display: block;
    margin-top: 1em;
}

.checks label {
    margin-top: 0;
}

label:first-of-type {
    margin-top: 0;
}

input {
    padding: .5em;
    border: solid 1px #999;
}

input[type=text] {
    width: 70%;
}

.checks {
    margin-bottom: 1em;
}

input[type=radio] + label {
    display: inline-block;
    padding-top: 0;
    margin-top: 0;
}

#puerto input[type=radio] {
    margin-left: 1.5em;
}

input[type=button] {
    background-color: #4c77af;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

#main_form {
    border-radius: 5px;
    padding: 20px 0;
    width: 100%;
}

#main_form form {
    margin: auto;
    width: 50%;
    background-color: #f2f2f2;
}

#valijas_label, #valijas_input {
    display: none;
}

/* FOR TABLES */
table {
    width: 60%;
    margin: 20px auto;
    border: 1px solid blueviolet;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid blueviolet;
}

.table_content {
    width: 100%;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    overflow-x: auto;
}

.table_content button {
    display: block;
    margin-left: auto;
    margin-right: 0;
}

th {
    height: 2em;
    background-color: cornflowerblue;
    color: white;
}

tr:hover {
    background-color: yellow;
}